<?xml version="1.0" encoding="UTF-8"?>
<config>
    <server>
        <config name="emulation">True</config>
        <config name="verbose">WARN</config>
    </server>
    <RESTful>
        <config name="url">localhost</config>
        <config name="port">8765</config>
        <config name="verbose">WARN</config>
        <config name="keep_alive">True</config>
    </RESTful>
    <factory>
        <!--Valid factory are XBee or socket-->
        <config name="client">socket</config>
        <client name="XBee">
            <config name="baud">115200</config>
            <config name="com">COM8</config>
            <config name="mac">0013A200410AC922</config>
        </client>
        <client name="socket">
            <config name="ip">127.0.0.1</config>
            <config name="port">19900</config>
        </client>
        <config name="verbose">WARN</config>
    </factory>
    <database>
        <config name="name">staging</config>
        <!--The interval in seconds to commit the database periodically at-->
        <config name="interval">1</config>
    </database>
    <sensors>
        <!--The sensor names must match with the emulator and schema names-->
        <sensor name="rpm">
            <config name="enable">True</config>
            <config name="group">Core</config>
            <meta name="min">0</meta>
            <meta name="max">10000</meta>
            <meta name="on_dash">True</meta>
        </sensor>
        <sensor name="water_temp_c">
            <config name="enable">True</config>
            <config name="group">Core</config>
            <meta name="min">0</meta>
            <meta name="max">120</meta>
            <meta name="on_dash">True</meta>
        </sensor>
        <sensor name="tps_perc">
            <config name="enable">True</config>
            <config name="group">Core</config>
            <meta name="min">0</meta>
            <meta name="max">100</meta>
            <meta name="on_dash">True</meta>
        </sensor>
        <sensor name="battery_mv">
            <config name="enable">True</config>
            <config name="group">Core</config>
            <meta name="min">6000</meta>
            <meta name="max">18000</meta>
            <meta name="on_dash">True</meta>
        </sensor>
        <sensor name="ext_5v_mv">
            <config name="enable">True</config>
            <config name="group">Core</config>
            <meta name="min">3000</meta>
            <meta name="max">6000</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="fuel_flow">
            <config name="enable">True</config>
            <config name="group">Core</config>
            <meta name="min">0</meta>
            <meta name="max">50</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="lambda">
            <config name="enable">True</config>
            <config name="group">Core</config>
            <meta name="min">0</meta>
            <meta name="max">150</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="speed_kph">
            <config name="enable">True</config>
            <config name="group">Core</config>
            <meta name="min">0</meta>
            <meta name="max">120</meta>
            <meta name="on_dash">True</meta>
        </sensor>
        <sensor name="evo_scan_1">
            <config name="enable">True</config>
            <config name="group">Aero</config>
            <meta name="min">0</meta>
            <meta name="max">100</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="evo_scan_2">
            <config name="enable">True</config>
            <config name="group">Aero</config>
            <meta name="min">0</meta>
            <meta name="max">100</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="evo_scan_3">
            <config name="enable">True</config>
            <config name="group">Aero</config>
            <meta name="min">0</meta>
            <meta name="max">100</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="evo_scan_4">
            <config name="enable">True</config>
            <config name="group">Aero</config>
            <meta name="min">0</meta>
            <meta name="max">100</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="evo_scan_5">
            <config name="enable">True</config>
            <config name="group">Aero</config>
            <meta name="min">0</meta>
            <meta name="max">100</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="evo_scan_6">
            <config name="enable">True</config>
            <config name="group">Aero</config>
            <meta name="min">0</meta>
            <meta name="max">100</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="evo_scan_7">
            <config name="enable">True</config>
            <config name="group">Aero</config>
            <meta name="min">0</meta>
            <meta name="max">100</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="status_ecu_connected">
            <config name="enable">True</config>
            <config name="group">Diagnostic</config>
            <meta name="min">0</meta>
            <meta name="max">1</meta>
            <meta name="on_dash">True</meta>
        </sensor>
        <sensor name="status_engine">
            <config name="enable">True</config>
            <config name="group">Diagnostic</config>
            <meta name="min">0</meta>
            <meta name="max">2</meta>
            <meta name="on_dash">True</meta>
        </sensor>
        <sensor name="status_battery">
            <config name="enable">True</config>
            <config name="group">Diagnostic</config>
            <meta name="min">0</meta>
            <meta name="max">2</meta>
            <meta name="on_dash">True</meta>
        </sensor>
        <sensor name="status_logging">
            <config name="enable">True</config>
            <config name="group">Diagnostic</config>
            <meta name="min">0</meta>
            <meta name="max">1</meta>
            <meta name="on_dash">True</meta>
        </sensor>
        <sensor name="inj_time">Power
            <config name="enable">True</config>
            <config name="group">Power Train</config>
            <meta name="min">0</meta>
            <meta name="max">10</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="inj_duty_cycle">
            <config name="enable">True</config>
            <config name="group">Power Train</config>
            <meta name="min">50</meta>
            <meta name="max">100</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="lambda_pid_adj">
            <config name="enable">True</config>
            <config name="group">Power Train</config>
            <meta name="min">0</meta>
            <meta name="max">40</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="lambda_pid_target">
            <config name="enable">True</config>
            <config name="group">Power Train</config>
            <meta name="min">80</meta>
            <meta name="max">120</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="advance">
            <config name="enable">True</config>
            <config name="group">Power Train</config>
            <meta name="min">0</meta>
            <meta name="max">10</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="ride_height_fl_cm">
            <config name="enable">True</config>
            <config name="group">Suspension</config>
            <meta name="min">0</meta>
            <meta name="max">20</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="ride_height_fr_cm">
            <config name="enable">True</config>
            <config name="group">Suspension</config>
            <meta name="min">0</meta>
            <meta name="max">20</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="ride_height_flw_cm">
            <config name="enable">True</config>
            <config name="group">Suspension</config>
            <meta name="min">0</meta>
            <meta name="max">20</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="ride_height_rear_cm">
            <config name="enable">True</config>
            <config name="group">Suspension</config>
            <meta name="min">0</meta>
            <meta name="max">20</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="lap_time_s">
            <config name="enable">True</config>
            <config name="group">Misc</config>
            <meta name="min">0</meta>
            <meta name="max">1000</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="accel_fl_x_mg">
            <config name="enable">True</config>
            <config name="group">Misc</config>
            <meta name="min">0</meta>
            <meta name="max">3000</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="accel_fl_y_mg">
            <config name="enable">True</config>
            <config name="group">Misc</config>
            <meta name="min">0</meta>
            <meta name="max">3000</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="accel_fl_z_mg">
            <config name="enable">True</config>
            <config name="group">Misc</config>
            <meta name="min">0</meta>
            <meta name="max">3000</meta>
            <meta name="on_dash">False</meta>
        </sensor>
        <sensor name="beans">
            <config name="enable">True</config>
            <config name="group">Bean</config>
            <meta name="min">0</meta>
            <meta name="max">3000</meta>
            <meta name="on_dash">False</meta>
        </sensor>
    </sensors>
    <emulation>
        <config name="sensors">
            <!--The variable x is an incremental value each time the emulators are ran-->
            <!--The sensor names must match with the sensor names in the sensor section-->
            <sensor name="rpm">int(5000 * math.sin(math.radians(x * 10)) + 5000)</sensor>
            <sensor name="water_temp_c">random.randint(80,100)</sensor>
            <sensor name="tps_perc">int(50*math.sin(math.radians(x*10))+50)</sensor>
            <sensor name="battery_mv">random.randint(11900,12100)</sensor>
            <sensor name="ext_5v_mv">random.randint(4900,5100)</sensor>
            <sensor name="fuel_flow">int(25*math.sin(math.radians(x*10))+25)</sensor>
            <sensor name="lambda">int(25*math.sin(math.radians(x*10))+50)</sensor>
            <sensor name="speed_kph">int(150*math.sin(math.radians(x*10))+150)</sensor>
            <sensor name="evo_scan_1">int(10*math.sin(math.radians(x*10))+10)</sensor>
            <sensor name="evo_scan_2">int(15*math.sin(math.radians(x*10))+15)</sensor>
            <sensor name="evo_scan_3">int(15*math.sin(math.radians(x*10))+20)</sensor>
            <sensor name="evo_scan_4">int(15*math.sin(math.radians(x*10))+25)</sensor>
            <sensor name="evo_scan_5">int(15*math.sin(math.radians(x*10))+30)</sensor>
            <sensor name="evo_scan_6">int(15*math.sin(math.radians(x*10))+35)</sensor>
            <sensor name="evo_scan_7">int(15*math.sin(math.radians(x*10))+40)</sensor>
            <sensor name="status_ecu_connected">1</sensor>
            <sensor name="status_engine">1</sensor>
            <sensor name="status_battery">2</sensor>
            <sensor name="status_logging">1</sensor>
            <sensor name="inj_time">random.randint(6,10)</sensor>
            <sensor name="inj_duty_cycle">random.randint(70,80)</sensor>
            <sensor name="lambda_pid_adj">random.randint(10,20)</sensor>
            <sensor name="lambda_pid_target">random.randint(95,105)</sensor>
            <sensor name="advance">random.randint(0,5)</sensor>
            <sensor name="ride_height_fl_cm">int(5*math.cos(math.radians(x*15))+8)</sensor>
            <sensor name="ride_height_fr_cm">int(5*math.sin(math.radians(x*15))+8)</sensor>
            <sensor name="ride_height_flw_cm">int(5*math.cos(math.radians(x*5))+8)</sensor>
            <sensor name="ride_height_rear_cm">int(5*math.sin(math.radians(x*5))+8)</sensor>
            <sensor name="lap_time_s">x</sensor>
            <sensor name="accel_fl_x_mg">int(500*math.sin(math.radians(x*10+1))+1000)</sensor>
            <sensor name="accel_fl_y_mg">int(500*math.sin(math.radians(x*10+0.5))+1000)</sensor>
            <sensor name="accel_fl_z_mg">int(500*math.sin(math.radians(x*10))+1000)</sensor>
            <sensor name="beans">int(x)</sensor>
        </config>
        <!--Delay in seconds (can be a float)-->
        <config name="delay">0.02</config>
        <config name="verbose">WARN</config>
    </emulation>
    <schema>jjj
        <!--The sensor names must match with the sensor names in the sensor section-->
        <config name="verbose">DEBUG</config>
        <config name="start_byte">1</config>
        <!--See https://docs.python.org/3/library/struct.html#format-characters for C type sizes-->
        <pdu name = "core" id="0">
            <field name="valid_bitfield">
                <property name="C_type">H</property>
            </field>
            <field name="epoch">
                <property name="C_type">d</property>
            </field>
            <field name="rpm">
                <property name="C_type">H</property>
            </field>
            <field name="water_temp_c">
                <property name="C_type">H</property>
            </field>
            <field name="tps_perc">
                <property name="C_type">H</property>
            </field>
            <field name="battery_mv">
                <property name="C_type">H</property>
            </field>
            <field name="ext_5v_mv">
                <property name="C_type">H</property>
            </field>
            <field name="fuel_flow">
                <property name="C_type">H</property>
            </field>
            <field name="lambda">
                <property name="C_type">H</property>
            </field>
            <field name="speed_kph">
                <property name="C_type">H</property>
            </field>
        </pdu>
        <pdu name = "aero" id="1">
            <field name="valid_bitfield">
                <property name="C_type">H</property>
            </field>
            <field name="epoch">
                <property name="C_type">d</property>
            </field>
            <field name="evo_scan_1">
                <property name="C_type">H</property>
            </field>
            <field name="evo_scan_2">
                <property name="C_type">H</property>
            </field>
            <field name="evo_scan_3">
                <property name="C_type">H</property>
            </field>
            <field name="evo_scan_3">
                <property name="C_type">H</property>
            </field>
            <field name="evo_scan_4">
                <property name="C_type">H</property>
            </field>
            <field name="evo_scan_5">
                <property name="C_type">H</property>
            </field>
            <field name="evo_scan_6">
                <property name="C_type">H</property>
            </field>
            <field name="evo_scan_7">
                <property name="C_type">H</property>
            </field>
        </pdu>
        <pdu name = "diagnostic" id="2">
            <field name="valid_bitfield">
                <property name="C_type">H</property>
            </field>
            <field name="epoch">
                <property name="C_type">d</property>
            </field>
            <field name="status_ecu_connected">
                <property name="C_type">H</property>
            </field>
            <field name="status_engine">
                <property name="C_type">H</property>
            </field>
            <field name="status_battery">
                <property name="C_type">H</property>
            </field>
            <field name="status_logging">
                <property name="C_type">H</property>
            </field>
        </pdu>
        <pdu name = "power_train" id="3">
            <field name="valid_bitfield">
                <property name="C_type">H</property>
            </field>
            <field name="epoch">
                <property name="C_type">d</property>
            </field>
            <field name="inj_time">
                <property name="C_type">H</property>
            </field>
            <field name="inj_duty_cycle">
                <property name="C_type">H</property>
            </field>
            <field name="lambda_pid_adj">
                <property name="C_type">H</property>
            </field>
            <field name="lambda_pid_target">
                <property name="C_type">H</property>
            </field>
            <field name="advance">
                <property name="C_type">H</property>
            </field>
        </pdu>
        <pdu name = "suspension" id="4">
            <field name="valid_bitfield">
                <property name="C_type">H</property>
            </field>
            <field name="epoch">
                <property name="C_type">d</property>
            </field>
            <field name="ride_height_fl_cm">
                <property name="C_type">H</property>
            </field>
            <field name="ride_height_fr_cm">
                <property name="C_type">H</property>
            </field>
            <field name="ride_height_flw_cm">
                <property name="C_type">H</property>
            </field>
            <field name="ride_height_rear_cm">
                <property name="C_type">H</property>
            </field>
        </pdu>
        <pdu name = "misc" id="5">
            <field name="valid_bitfield">
                <property name="C_type">H</property>
            </field>
            <field name="epoch">
                <property name="C_type">d</property>
            </field>
            <field name="lap_time_s">
                <property name="C_type">H</property>
            </field>
            <field name="accel_fl_x_mg">
                <property name="C_type">H</property>
            </field>
            <field name="accel_fl_y_mg">
                <property name="C_type">H</property>
            </field>
            <field name="accel_fl_z_mg">
                <property name="C_type">H</property>
            </field>
        </pdu>
        <!--Test PDU-->
        <pdu name="bean" id="6">
            <field name="valid_bitfield">
                <property name="C_type">H</property>
            </field>
            <field name="epoch">
                <property name="C_type">d</property>
            </field>
            <field name="beans">
                <property name="C_type">H</property>
            </field>
        </pdu>
    </schema>
</config>
